{% extends "cms/iframe_base.html" %}
{% block title %}
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src={{ static('cms/js/posts.js') }}></script>
{% endblock %}
{% block content %}
  <div class="content container" >
    <div class="widget-header"> <i class="icon-table"></i>
      <div  class="select" style="float: left">
        <label>任务种类
          <select id="apply-type" size="1" name="apply-type" aria-controls="example">
            <option value='all' >所有</option>
            <option value='top' >顶置</option>
            <option value='highlight' >加精</option>
          </select>
        </label>
      </div>
      <div id="post-board" class="select" style="float: left">
        <label>板块
          <select id="board" size="1" name="board" aria-controls="example">
            <option value="0">所有</option>
            {% for board in boards %}
              <option value={{ board.id }}>{{ board.name }}</option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div  class="select" style="float: right">
        <label>每页显示
          <select id="per-page" size="1" name="count" aria-controls="example">
            <option value='10' >10</option>
            <option value='20' >20</option>
            <option value='50' >50</option>
          </select>
          条
        </label>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>标题</th>
        <th>发布时间</th>
        <th>板块</th>
        <th>作者</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for post in posts %}
        <tr data-id="{{ post.id }}"   >
          <td><a href={{ url_for('front.post_detail',post_id=post.id) }} target='_blank'>{{ post.title }}</a></td>
          <td>{{ post.create_time }}</td>
          <td>{{ post.board.name }}</td>
          <td>{{ post.author.username }}</td>
          <td>
            {% if post.highlight %}
              <button class="btn btn-default btn-xs highlight-btn" data-type="unhighlight">取消加精</button>
            {% else %}
              <button class="btn btn-default btn-xs highlight-btn" data-type="highlight">加精</button>
            {% endif %}
            {% if post.top %}
              <button class="btn btn-default btn-xs top-post-btn" data-type="untop">取消顶置</button>
            {% else %}
              <button class="btn btn-default btn-xs top-post-btn" data-type="top">顶置</button>
            {% endif %}

            <button class="btn btn-danger btn-xs delete-btn">删除</button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <!-- Pagination -->
    <div class=" text-center">
      {{ pagination.links }}
    </div>
  </div>
{% endblock %}