{% extends "cms/iframe_base.html" %}
{% block title %}权限管理{% endblock %}
{% block styles %}
  {{ super() }}
  <style>
  .checkbox{
  display:block;
  }
  #example_length{
    float:left;
  }
  #example_filter{
    float:right;
  }
  </style>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
  $(function () {
      //初始化用户权限列表
      function init_permission_checkbox(per_items) {
          $('.permission-body').html('');
          var html='<div class="checkbox" ><label><input type="checkbox" name="{name}" value="{value}">{desc}</label></div>';
        $.each(per_items,function (index,per_item) {
            var checkbox = html.format({name:per_item[0],value:per_item[1].value,desc:per_item[1].desc});
            var Ocheckbox = $(checkbox);
            Ocheckbox.find('input').prop('checked',per_item[1].checked).prop('disabled',per_item[1].disabled);
            $('.permission-body').append(Ocheckbox)
        })
      };
      //显示权限功能
      $('.btn-per').click(function (e) {
          e.preventDefault();
          var uid = $(this).attr('user-id');
          var url = '/permission/'+uid;
          myajax.get(
              {'url':url,
              'success':function (data) {
                  if (data.code == 200 ){
                      var permissions = data.data;
                      init_permission_checkbox(permissions);
                      $('#submit').prop('user-id',uid);
                      $('#myModal').modal('show');

                  }else{
                      xtalert.alertErrorToast(data.message)
                  }
              },

          });
      });

      //提交权限
      $('#submit').click(function (e) {
          e.preventDefault();
          var per_items = new Array();
          var per_value = 0;
          $('.checkbox input:checked').each(function () {
              var value = $(this).prop('value');
              per_value += parseInt(value);
          });
          console.log(per_value);
          var uid = $(this).prop('user-id');
          var url = '/permission/'+uid;
          myajax.post({
              'url':url,
              'data':{
                  per_value:per_value
              },
              'success':function (data) {
                  if (data.code==200){
                      xtalert.alertSuccessToast(data.message)
                      location.reload()
                  }else{
                      xtalert.alertErrorToast(data.message)
                  }
              }
          })

      })

  })
  </script>
{% endblock %}
{% block content %}
  <div class="content container" >
    <div class="row">
      <div class="col-sm-8">
        <div class="widget">
          <div class="widget-header"> <i class="icon-table"></i>
            <div id="example_length" class="dataTables_length">
              <label>用户组<select size="1" name="example_length" aria-controls="example">
                {% for group in Group %}
                  <option value={{ group.name }} >{{ group.name }}</option>
                {% endfor %}
              </select>
              </label>
            </div>

          </div>
          <div class="widget-content">
            <div class="body">
              <table class="table table-striped table-images">
                <thead>
                <tr>
                  <th></th>
                  <th>头像</th>
                  <th>姓名</th>
                  <th>用户组</th>
                  <th>邮箱</th>
                  <th class="hidden-xs"></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}

                  <tr class="center-block">
                    <td>{{ loop.index }}</td>
                    <td><img src="{{ user.avatar }}"></td>
                    <td> {{ user.realname }} </td>
                    <td> {{ user.role.group.name }} </td>
                    <td> {{ user.email }} </td>
                    <td class="hidden-xs">
                    <button type="button" class="btn btn-primary btn-sm btn-per" data-toggle="modal"  user-id={{ user.id }}>权限管理</button>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">权限</h4>
        </div>
        <div class="modal-body permission-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" id="submit">保存</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

