{% extends 'front/front_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}重置密码{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('front/css/sign_login.css') }}">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ static('front/js/sign-login.js') }}"></script>
{% endblock %}

{% block navbar %}
{% endblock %}


{% block content %}



  <div class="container">
    <div class="outer-box">
    <div class="logo-box">
        <a href="/">
            <img src={{ static('common/images/logo.png') }}>
        </a>
    </div>
    <h2 class="page-title text-primary text-center">重置密码</h2>
    <div class="form-box">
    {{ wtf.quick_form(form) }}
    </div>

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}

  </div>


  </div>

{% endblock %}