{% from "common/_macors.html" import static,bootstrap_plugin %}
{% set user = g.user %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>评论管理</title>
  <meta name="csrf_token" content="{{ csrf_token() }}" >
  {{ bootstrap_plugin() }}

  <link href={{ static('cms/css/thin-admin.css') }} rel="stylesheet" media="screen">
  <link href={{ static('cms/css/font-awesome.css') }} rel="stylesheet" media="screen">
  <link href={{ static('cms/style/style.css') }} rel="stylesheet" media="screen">
  <link href={{ static('cms/style/nestable.css') }} rel="stylesheet" media="screen">
  <script src={{ static('cms/js/iframe.js') }}></script>
  <script src={{ static('common/js/myajax.js') }}></script>
  <link rel="stylesheet" href={{ static('cms/css/iframe.css') }}>
  <link href="{{ static('cms/css/font-awesome.css') }}" rel="stylesheet" media="screen">
  <link href="{{ static('cms/style/style.css') }}" rel="stylesheet">

</head>
<body>

<div class="content container" >
  <h1>轮播圖管理</h1>
</div>
</body>
</html>