{% from "common/_macors.html" import static,bootstrap_plugin %}
{% set user = g.user %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  {{ bootstrap_plugin() }}

  <link href={{ static('cms/css/thin-admin.css') }} rel="stylesheet" media="screen">
  <link href={{ static('cms/css/font-awesome.css') }} rel="stylesheet" media="screen">
  <link href={{ static('cms/style/style.css') }} rel="stylesheet" media="screen">
  <link href={{ static('cms/style/nestable.css') }} rel="stylesheet" media="screen">
  <script src={{ static('cms/js/iframe.js') }}></script>
  <link rel="stylesheet" href={{ static('cms/css/iframe.css') }}>

  <link href="{{ static('cms/css/font-awesome.css') }}" rel="stylesheet" media="screen">
  <link href="{{ static('cms/style/style.css') }}" rel="stylesheet">
  {#  <link href="{{ static('cms/css/thin-admin.css') }}" rel="stylesheet" media="screen">#}
</head>
<body>

<div class="content container" >

  <div class="col-sm-8">
          <div class="widget">
            <div class="widget-header"> <i class="icon-align-left"></i>
              <h3>修改邮箱 </h3>
            </div>
            <div class="widget-content">
              <form method="post" class="form-horizontal">
                <fieldset>
                <div class="form-group has-success lable-padd">
                  <label for="raw-pwd" class="col-sm-3">密码：</label>
                  <div class="col-sm-6">
                    <input type="password" name="raw-pwd" id="raw-pwd" class="form-control">
                  </div>
                  <div class="col-sm-3">
                    <p class="help-block"><i class="icon-ok"></i> Great success!</p>
                  </div>
                </div>
                <div class="form-group has-warning lable-padd">
                  <label for="new-email" class=" col-sm-3">新邮箱：</label>
                  <div class="col-sm-6">
                    <input type="email" name="new-email" id="new-email" class="form-control">
                  </div>
                  <div class="col-sm-3">
                    <p class="help-block"><i class="icon-warning-sign"></i> Be careful!</p>
                  </div>
                </div>

                <div class="form-group has-error lable-padd">
                  <label for="email-captcha" class="col-sm-3">重复原始密码：</label>
                  <div class="col-sm-6">
                    <input type="password" name="email-captcha" id="email-captcha" class="form-control">
                  </div>
                  <div class="col-sm-3">
                    <p class="help-block"><i class="icon-exclamation-sign"></i> Oops!</p>
                  </div>
                </div>


                </fieldset>
                <div class="form-actions">
                  <div>
                    <button class="btn btn-primary" type="submit">更改邮箱</button>
                    <button class="btn btn-default" type="button">取消</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
</div>
</body>
</html>