{% from "common/_macors.html" import static,bootstrap_plugin %}
{% set user = g.user %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  {{ bootstrap_plugin() }}

  <link href={{ static('cms/css/thin-admin.css') }} rel="stylesheet" media="screen">
  <link href={{ static('cms/css/font-awesome.css') }} rel="stylesheet" media="screen">
  <link href={{ static('cms/style/style.css') }} rel="stylesheet" media="screen">
  <link href={{ static('cms/style/nestable.css') }} rel="stylesheet" media="screen">
  <script src={{ static('cms/js/iframe.js') }}></script>
  <link rel="stylesheet" href={{ static('cms/css/iframe.css') }}>

  <link href="{{ static('cms/css/font-awesome.css') }}" rel="stylesheet" media="screen">
  <link href="{{ static('cms/style/style.css') }}" rel="stylesheet">
  {#  <link href="{{ static('cms/css/thin-admin.css') }}" rel="stylesheet" media="screen">#}
</head>
<body>

<div class="content container" >

  <div class="col-xs-6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-align-left"></i>
              <h3>修改密码 </h3>
            </div>
            <div class="widget-content">
              <form method="post" class="form-horizontal">
                <fieldset>



                  <div class="form-group has-success">

                    <label for="password-field" class="col-sm-3">原始密码</label>

                    <div class="col-sm-6">
                    <div class="form-group ">
                      <div class="input-group"> <span class="input-group-addon"><i class="icon-lock"></i></span>
                        <input type="password" placeholder="请输入原始密码" id="raw_password-field" class="form-control">
                      </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                    <p class="help-block"><i class="icon-ok"></i> Great success!</p>
                  </div>
                  </div>
                  <div class="control-group">
                  <div class="col-md-3">
                    <label for="password-field" class="control-label">新密码</label>
                    </div>
                    <div class="col-md-9">
                    <div class="form-group">
                      <div class="input-group"> <span class="input-group-addon"><i class="icon-lock"></i></span>
                        <input type="password" placeholder="请输入新密码" id="new-password-field" class="form-control">
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                  <div class="col-md-3">
                    <label for="password-field" class="control-label">重复新密码</label>
                    </div>
                    <div class="col-md-9">
                    <div class="form-group">
                      <div class="input-group"> <span class="input-group-addon"><i class="icon-lock"></i></span>
                        <input type="password" placeholder="请再次输入密码" id="new2-password-field" class="form-control">
                      </div>
                      </div>
                    </div>
                  </div>

                </fieldset>
                <div class="form-actions">
                  <div>
                    <button class="btn btn-primary" type="submit">更改密码</button>
                    <button class="btn btn-default" type="button">取消</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
</div>
</body>
</html>