{% extends "cms/iframe_base.html" %}
{% block title %}个人信息{% endblock %}
{% block content %}
<div class="content container" >

  <div class="row">
    <div class="col-sm-8">
      <div class="widget">
        <div class="widget-header"> <i class="icon-user"></i>
          <h3>个人信息</h3>
        </div>
        <div class="widget-content">
          <div class="body">
            <form data-validate="parsley" method="post" novalidate class="form-horizontal label-left" id="user-form">
              <div class="row">
                <div class="col-md-4">
                  <div class="text-align-center"> <img style="height: 112px;" alt="64x64" src="{{ current_user.get_avatar() }}" class="img-circle"> </div>
                </div>
                <div class="col-md-8">
                  <h3 class="no-margin" id="username">{{current_user.username}}</h3>
                  <address>
                    角色：<strong>{{ current_user.role.name|default('未知角色') }}</strong><br>
                    <abbr title="Work email">邮箱：</abbr> <a href="mailto:#">{{current_user.email}}</a><br>
                    <abbr title="Work Phone">电话号码:</abbr> {{ current_user.phone |default('还未添加电话号码')}}
                  </address>
                </div>
              </div>

              <fieldset>
                <legend class="section">个人信息</legend>
                <div class="control-group">
                  <div class="col-sm-3">
                    <label class="control-label" for="name">姓名 <span class="required">*</span></label>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <input type="text"  name="name" required class=" mask col-sm-6" id="name" value="{{ current_user.name }}">
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="col-sm-3">
                    <label class="control-label">性别</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <div data-toggle="buttons" class="btn-group" id="gender" data-gender={{ current_user.gender }}>
                        <label  class="btn btn-default">
                          <input type="radio" value=1 name="gender">
                          男 </label>
                        <label  class="btn btn-default">
                          <input type="radio" value=0 name="gender">
                          女 </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="col-sm-3">
                    <label class="control-label" for="date-of-birth">生日</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <input type="text"  name="date-of-birth"  class=" col-sm-6" id="date-of-birth" value="{{ current_user.birthday }}">
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="col-sm-3">
                    <label class="control-label" for="phone">电话号码 <span class="required">*</span></label>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <input type="text"  name="phone" required class=" mask parsley-validated col-sm-6" id="phone"data-inputmask="'mask':'+33 999 999 999'" value="{{ current_user.phone }}" >
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="col-sm-3">
                    <label class="control-label" for="description">简介</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <textarea class="form-control" name="text" rows="3" id="description" >{{ current_user.intro }}</textarea>
                      <span class="help-block">写几句话介绍自己吧</span>
                    </div>
                  </div>
                </div>
              </fieldset>

              <div class="form-actions">
                <button class="btn btn-primary" type="submit" id="sumbit-profile">保存更改</button>
                <button class="btn btn-default" type="button" id="cancel">取消</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

